/* 
	CSS for page
	classes always start with a period(.) and 
	id start with hashtag(#) & name of id
	*/


	body{margin:0;}

	.ellaMainImage{
		margin-bottom:0;
		/*tried to get rid of white space*/
		background-color: #cce6ff;

	}	


	/*** 
	START Navbar - 
	absolute position- moves along the page
	top (think from the top)
	left (think from the left) 
	 **/
	 .top-left {
	  position: absolute;
	  top: 8px;
	  left: 16px;
}

/* Opens and cloes navbar */
.sidenav {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  /* how you layer things in CSS, 
	  use z-index to put this on top 
	  of the background */
	  z-index: 1;
	  top: 0;
	  left: 0;
	  /* will change background 
	  to be probably opaque*/
	  background-color: rgba(255, 153, 255, .5);
	  /* overflow keeps the words in 
	  the navbar from going beyond 
	  the navbar background */
	  overflow-x: hidden;
	  /* transition is how fast it opens */
	  transition: 0.5s;
	  /* makes it further down */
	  padding-top: 60px;
}


/*changes the alignment of the words in the navbar
targets the a links from the div bar */
.sidenav a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  text-transform:uppercase;
	  font-size: 25px;
	  color: #fff;
	  display: block;
	  transition: 0.3s;
}

/* changes hover color of text in navbar */
.sidenav a:hover {
	color: purple;
	transition: 1s;
}

/* changes the close button in navbar */
.sidenav .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  margin-left: 50px;
}
	/*** END Navbar **/

/*** Bottom bar div **/
	.concertDates{
        width:100%;
        height:100%;
        margin:0;
        /* make a gradient image for bottom div */
        background-image: linear-gradient(#cce6ff, #b3b3ff);
}
	

/* first picture in bottom div*/
 #debut{
        margin-top:0%;
        margin-left:35%;
}  


/* second picture in bottom div*/
 #tickets{
        width:60%;
        margin-top:2%;
        margin-left:25%;
}


/*table */
.GeneratedTable{
		margin-top:5%;
		margin-left:12%;
    }

/* strike through for table items in bottom div*/    
.soldout a{
        color:black;
        text-decoration: line-through     
    }

/*image after table*/

.aboutme{
   
    margin-top:3%;
    margin-left:12%;
    display: inline-block;


}

.flip-box {
	display: inline-block;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}


.block {
	padding: 5% 0% 0% 15%;
}


/* targets bottom 3 immages*/
#round{
	border-radius: 50%;
}


#eMaix{
		width:10%;
		height:10%;
		margin-left:30%;
}

/*Start of next div styling*/

 #socialMedia{
		width:100%;
		height:100%;
		background-color:#fff;
		margin: 0 auto;
		text-align: center;		
}

#ellaMaibottomImage{
		margin-top:4%;
		margin-left:-5%;
		width:20%;
		box-shadow: 1px 1px 15px 10px #ccc;    
}

 #selfTitled{
		margin-top:2%;
		margin-left:-5%;
		width:30%;
   
}